<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RStorage panel</title>
		<link rel="stylesheet" href="/css/index.css">
		<script src="/js/main.js"></script>
	</head>
    <body>
        <button id="button" onclick="window.location.href = '/files/view?path=/'">Browse files</button>
        
        <table>
            <tr>
                <th>Node ID</th>
                <th>Connected?</th>
                <th>Edit</th>
            </tr>
            <% nodes.forEach(node => { %>
                <tr>
                    <td><%=node.id%></td>
                    <td><%=node.connected%></td>
                    <!-- <td><button id="button" onclick="window.location.href = '/files/<%=node.id%>/view?path=/'" <% if (!node.connected) { %> disabled <% } %>>Files</button></td> -->
                    <td><button id="button" onclick="window.location.href = '/nodes/<%=node.id%>/edit'">Edit</button></td>
                </tr>
            <% }); %>
            <tr>
                <th>
                    <input type="text" id="ip" name="ip" placeholder="ip" value="127.0.0.1" required>
                    <input type="number" id="port" name="port" placeholder="port" value="3001" required></th>
                <th><textarea type="test" id="publickey" name="publickey" placeholder="publickey" required></textarea></th>
                <th><button id="button" onclick="nodeCreate();">Add</button></th>
            </tr>
        </table>
        <p id="response" style="color: red"></p>
    </body>
</html>