<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login Form</title>
		<link rel="stylesheet" href="/css/login.css">
		<script src="/js/login.js"></script>
	</head>
	<body>
		<div class="login-page">
			<div class="form" id="login" style="display: block">
				<input type="email" id="Lemail" name="email" placeholder="Email" required>
				<input type="password" id="Lpassword" name="password" placeholder="Password" required>
				<button id="button" onclick="login();">Login</button>
				<button onclick="change('register');">Register instead?</button>
			</div>
			<div class="form" id="register" style="display: none;">
				<input type="text" id="Rusername" name="username" placeholder="Username" required>
				<input type="email" id="Remail" name="email" placeholder="Email" required>
				<input type="password" id="Rpassword" name="password" placeholder="Password" required>
				<button id="button" onclick="register();">Register</button>
				<button onclick="change('login');">Login instead?</button>
			</div>
		</div>
		<p id="response" style="color: red"></p>
	</body>
</html>